*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
  font-weight: normal;

  outline: 0 none;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  max-height: 100vh !important;
}
